# Dev
black
daphne
flake8
isort
pip-tools
pytest
pytest-django
pytest-cov

# Base
dj-database-url
django
django-github-app
django-markdownx
django-tasks
environs
gunicorn
oauthlib
psycopg2-binary
requests
sentry_sdk
servestatic
stamina
uvicorn

# Debug
memray
pystack
