{% extends 'base.html' %}

{% block content %}
<div class="document-container">
  <h1>Contributor License Agreement Management</h1>

  <br>
  <div class="button-container">
    <a class="button" href="/auth/">Sign In With GitHub</a>
  </div>
  <br>

  <p>
    This application allows you to sign and view past signatures of Contributor License Agreements
    as required by the following repositories:
  </p>

  <ul>
    {% for repository in repositories %}
    <li>{{ repository }}</li>
    {% endfor %}
  </ul>

</div>
{% endblock %}
