{% extends 'base.html' %}

{% block content %}
<div class="document-container">
  {{ agreement|safe }}

  <form method="POST">
    {% csrf_token %}
    {% if form %}
      <p>
      {{ form.email.label_tag }}
      {{ form.email }}<br>
      {% if form.email.errors %}{{ form.email.errors }}{% endif %}
      {% if form.email.help_text %}
      <small>{{ form.email.help_text }}</small>
      {% endif %}
      </p>
    {% endif %}
    <div class="button-container">
      <button type="submit" class="button sign-button">Sign</button>
      <p>
        On behalf of
        <span style="font-weight: 600;">{{ request.session.username }}</span>
        &lt;<span style="font-weight: 600;">{{ email_address }}</span>&gt;
      </p>
    </div>
  </form>
</div>
{% endblock %}
